  <div id="SideColumn">
    <ul class="side_menu">
      <li class="side_menu-item"><a href="#"><i class="fas fa-home c-white"></i><span>ホーム</span></a></li>
      <li class="side_menu-item"><a href="#"><i class="fas fa-home c-white"></i><span>ホーム</span></a></li>
      <li class="side_menu-item"><a href="#"><i class="fas fa-home c-white"></i><span>ホーム</span></a></li>
      <li class="side_menu-item"><a href="#"><i class="fas fa-home c-white"></i><span>ホーム</span></a></li>
      <li class="side_menu-item"><a href="#"><i class="fas fa-home c-white"></i><span>ホーム</span></a></li>
    </ul>
  </div>