@charset "utf-8";
#SideColumn {
  width: 250px;
  height: calc(100vh - 68px);
  background-color: #808080;
  transition: .2s;
  .sidebar-collapse & {
    width: 68px;
  }
}
.side_menu {
  width: 100%;
  overflow: hidden;
}
.side_menu-item {
  width: 250px;
  &:hover {
    background-color: #999;
  }
  a {
    display: block;
    padding: 20px 23px;
    overflow: hidden;
    &:hover {
      opacity: 1;
    }
  }
  span {
    margin-left: 10px;
    .sidebar-collapse & {
      display: none;
    }
  }
}