@charset "utf-8";
body {
  background-color: #eee;
}
.login_box {
  width: 360px;
  margin: 7% auto;
}
.login_box-header {
  text-align: center;
  margin-bottom: 25px;;
  h1 {
    font-size: 30px;
    line-height: 1.8;
  }
}
.login_box-content {
  padding: 20px;
  background-color: #fff;
}