<div class="login_box">
  <div class="login_box-header"><h1>ログイン画面</h1></div>
  <div class="login_box-content">
    <app-messages></app-messages>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <label>mail:<input type="text" name="mail" [(ngModel)]="model.mail" #mail="ngModel" email required></label>
      <div [hidden]="!mail.errors?.required" class="alert alert-danger">メールアドレスは必須です</div>
      <div [hidden]="!mail.errors?.email" class="alert alert-danger">メールアドレスは正しい形式で入力してください</div>
      <label>password: <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required></label>
      <div [hidden]="!password.errors?.required" class="alert alert-danger">パスワードは必須です</div>
      <button type="submit" [disabled]="!loginForm.form.valid">ログイン</button>
    </form>
    <div class="login_box-footer"><a href="#">パスワードを忘れた場合</a></div>
  </div>
</div>