@charset "utf-8";
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  background-color: #eee;
}
.header_logo {
  width: 250px;
  font-size: 20px;
  text-align: center;
  line-height: 68px;
  background-color: #ccc;
  transition: .2s;
  .sidebar-collapse & {
    width: 68px;
    .logo-mini {
      display: block;
    }
    .logo-lg {
      display: none;
    }
  }
  .logo-mini {
    display: none;
  }
}

.header_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  .btn {
    display: block;
    padding: 5px;
    margin: 0 10px;
  }
  a {
    position: relative;
  }
  a[data-news]:before {
    position: absolute;
    top: 0;
    left: 13px;
    content: attr(data-news);
    background-color: red;
    width: 15px;
    height: 15px;
    display: block;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
  }
}

.sidebar_toggle_btn {
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
  margin-right: auto;
  background-color: #aaa;
  cursor: pointer;
  opacity: .6;
  &:hover {
    opacity: 1;
  }
  span {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    right: 0;
    height: 4px;
    width: 34px;
    background-color: #fff;
    margin: 0 auto;
    transition: .2s;
    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 7px);
      left: -2px;
      height: 4px;
      width: 22px;
      background-color: #fff;
      transform: rotate(-30deg);
      .sidebar-collapse & {
        transform: rotate(30deg);
        left: auto;
        right: -2px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: calc(50% + 3px);
      left: -2px;
      height: 4px;
      width: 22px;
      background-color: #fff;
      margin: 0 auto;
      transform: rotate(30deg);
      .sidebar-collapse & {
        transform: rotate(-30deg);
        left: auto;
        right: -2px;
      }
    }
  }
}