<header>
  <a href="#" class="header_logo">
    <span class="logo-mini">D</span>
    <span class="logo-lg">DUMMY</span>
  </a>
  <span class="sidebar_toggle_btn js-sidebar_toggle"><span></span></span>
  <div class="header_menu">
    <a href="#" class="btn" data-news="1"><i class="far fa-bell c-gray"></i> お知らせ</a>
    <a href="#" class="btn"><i class="fas fa-user c-gray"></i> 山田太郎</a>
    <button type="button" class="btn" (click)="logout()"><i class="fas fa-door-closed c-gray"></i>ログアウト</button>
  </div>
</header>